<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row flex-lg-row-reverse ms-2 me-2 mt-5 align-items-center g-5 py-5">
         <div class="col-10 col-sm-8 col-lg-6">
             <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROJmGQU-YJkAWvjqyS0zA6Ul5zqRPNBK_8YA&s" class="d-block mx-lg-auto rounded-5 img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy"> </div>
              <div class="col-lg-6"> <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">"AK - BLOGS" amazing blogs for everyone.</h1>
                 <p class="lead">AK - BLOGS is a platform where knowledge meets creativity. Whether you're a budding developer, tech enthusiast, or just someone curious to learn, our blogs offer simple, useful insights on web development, coding tips, interview experiences, and more — all in one place.</p>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-start"> 
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2"><a href="\post" class="btn btn-lg  text-white ">Upload New</a></button> 
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4"><a href="\show" class="btn btn-lg  text-black ">Show blogs</a></button> </div> </div> </div>
</body>
</html>